# <% content_for :title, "Projects" %>

# <!-- Jumbotron with image and buttons -->
# <div class="jumbotron jumbotron-fluid" style="background-color: #64b5f6; color: white;">
#   <div class="container">
#     <h1 class="display-4">Welcome to Our Basecamp Project</h1>
#     <p class="lead">Safe, reliable and trusted for project data entries</p>

#     <!-- Optional: Display an image -->

#     <!-- Sign In and Sign Up buttons -->
#     <div class="text-center">
#       <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-light btn-lg mx-2' %>
#       <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-light btn-lg mx-2' %>
#     </div>
#  </div>
#  </div>